@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Reem+Kufi:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-shadow {
  box-shadow: inset 0px 0px 54px 33px rgba(11, 71, 71, 1);
}

.active {
  color: #f4a328;
}

.text-shadow {
  text-shadow: -5px -5px 0 rgba(65, 65, 65, 0.247);
}

.active:hover {
  color: #cb7b03 !important;
}

.section-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* لون مع شفافية */
  z-index: 1;
}

.curved-edge {
  --c: 150px;
  mask: radial-gradient(60% var(--c) at bottom, #0000 calc(100% - 10px), #ffffff);

}

.main-div:hover .my-animation {
  transform: translateY(20px) rotateX(calc(90deg - 10deg)) skewX(10deg);
  opacity: 0.4;
  transition: transform 0.5s ease, opacity 0.5s ease;

}

.main-div:hover .my-back-animation {
  transform: translateY(0px) rotateX(0) skewX(0deg);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

.my-animation {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: bottom center;
}

.my-back-animation {
  transform: translateY(20px) rotateX(calc(90deg - 10deg)) skewX(10deg);
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: bottom center;
  opacity: 0.4;
}

.card-animation {
  position: relative;
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1.4s ease;
}
.card-animation:hover {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}